:root {
    --cor-backgroundLight: #F3F4FB;
    --cor-letraLight: #232A5C;
    --cor-hover: #E9521D;
    --cor-seeAll: #8085B2;
    --cor-backgroundCategoria: #292C3D;
    --cor-backgroundLightCategoria: #e3e4e8;
    --cor-background-allCategoria: #FAFAFA;

    --gradient-headerLight: linear-gradient(180deg, #F3F4FB 51.95%, #BABDD0 126.97%, #7D82A1 179.69%, #535981 244.57%, #232A5C 252.68%);
    --gradient-slideLight: linear-gradient(180deg, #F3F4FB 40.47%, #BABDD0 72.33%, #7D82A1 94.72%, #535981 122.27%, #232A5C 125.71%);
    --gradient-lightAllCategoria: linear-gradient(0deg, #F3F4FB, #F3F4FB), linear-gradient(0deg, #F3F4FB, #F3F4FB);

}

.light{
    background-color: var(--cor-backgroundLight);
}

.light a {
    color: var(--cor-letraLight);
}

.light a:hover {
    color: var(--cor-hover);
}

.light .button {
    background-color: var(--cor-seeAll);
}

.light .header-dark{
    background: var(--gradient-headerLight);
}

.light .text-icon {
    color:var(--cor-letraLight);
    font-size: 16px;
}

.light .bannerAndtime {
    background-color: var(--cor-backgroundLight);
}

.light #esportes {
    background-color: var(--cor-backgroundLight);
}

.light select {
    background-color: unset;
    color: var(--cor-letraLight);
}

.light .filter {
    background-color: unset;
    color: var(--cor-letraLight);
    margin-right: 20px;
}

.light .banner-time {
    border: 5px solid var(--cor-backgroundLight);
    border-radius: 10px;
}

.light .title-events {
    color: var(--cor-letraLight);
}

.light .slide01{
    background: var(--gradient-slideLight);
}

.light p {
    color: var(--cor-backgroundCategoria);
}

.light em {
    color: var(--cor-backgroundCategoria);
}

.light .box {
    background-color: var(--cor-backgroundLight);
}

.light .container-categorias {
    background-color: var(--cor-backgroundLightCategoria);
}

.light #all-categorias {
    background: var(--gradient-lightAllCategoria);
}

.light #all-categorias select {
    background-color: unset;
    color: var(--cor-hover);
}

.light .all-categorias {
    background-color: var(--cor-background-allCategoria);
    color: var(--cor-seeAll);
}

.light .footer-line1 > div > p {
    color: var(--cor-letraLight);
}

